<span class="{{modifier_class}}" style="background-color: #ccc; padding: 10px; margin-right:10px;">前景色</span>
<span class="bg-{{modifier_class}}" style="color: #ccc; padding: 10px; margin-right:10px;">背景色</span>
